<p id="notice"><%= notice %></p>

<h1 class="title">Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Laboratory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @requests != nil %>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.user.name %></td>
        <td><%= request.laboratory.name %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Aceitar", {:controller => "requests", :action => "accept_request", :request => request.id} %></td>
        <td><%= link_to "Rejeitar", {:controller => "requests", :action => "refuse_request", :request => request.id} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Request', new_request_path %>
