<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user.name %>
</p>

<% @request.check_fac %>
<% @request.notification_request %>


<p>
  <strong>Laboratory:</strong>
  <%= @request.laboratory.name %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
