<h1>Página principal do administrador</h1>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-height: 100px;
    width: 100%;
}

#title{
  color: black;
  background-color: white;
}

#table-wrapper {
  position:relative;
}

#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
  width: 50%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
  color: black;
  background-color: gray;
}

#table-wrapper table thead th .text {
  position:relative;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

</style>

<% col = Collection.last %>
<% if col != nil %>
  <% col.generate_notification %>
<% end %>
<br>

<div id="table-wrapper">
    <div id="table-scroll">
        <table>
            <thead>
                <tr><th id="title">Notificações</th></tr>
            </thead>
            <tbody>
                <% Notification.all.each do |notif| %>
                  <tr><td><%= notif.message %></td></tr>
                <% end %>
            </tbody>
            
        </table>
    </div>
</div>

<br>
<br>

<%= link_to 'pagina de geração de relatorios', reports_path %> <br>
<%= link_to 'pagina de estatistica de dados', 'statistic' %> <br>
<%= link_to 'pagina de requisições', requests_path %> <br>
<%= link_to 'pagina do perfil de usuario', 'account' %> <br>
<%= link_to 'pagina do criação de dados', 'creation' %> <br>

<%= link_to 'Cadastrar Collection', new_collection_path %> <br>
<%= link_to 'Cadastrar Departamento', new_department_path %> <br>
<%= link_to 'Cadastrar Laboratorio', new_laboratory_path %> <br>
<%= link_to 'Cadastrar Residuo', new_residue_path %> <br>
<%= link_to 'Cadastrar Registro', new_register_path %> <br>
